html {
  height: 100%;
}
body {
  /* height: 100%; */
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  font-family: 'Roboto', sans-serif;
}

#container {
  /* background-color: #000; */
  width: 300px;
  /* border: 1px solid #000; */
  margin: 100px auto 0 auto;
}

#container .head {
  background-color: #0079ad;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

#container .head span {
  padding: 10px 20px;
}

#container .head #addTodo {
  font-weight: 600;
  font-size: 1.5em;
  padding: 5px 20px;
  cursor: pointer;
}

#container #newTodo {
  width: 260px;
  padding: 10px 20px;
  border: 0;
  background-color: #ededed;
  color: #000;
  font-size: 1em;
}
#container .todo {
  background-color: #fff;
  display: flex;
  height: 39px;
}

#container .todo:nth-child(even) {
  background-color: #ededed;
}

#container .todo span {
  padding: 10px 20px;
  display: inline-block
}

#container .todo .delete {
  background-color: #d9534f;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
}