html {
  height: 100%;
}
body {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 300px;
  margin: 100px auto 0 auto;
  background-color: #ededed;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}

#container .head {
  background-color: #0079ad;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

#container .head span {
  padding: 10px 20px;
}

#container .head #addTodo {
  font-weight: 600;
  font-size: 1.5em;
  padding: 5px 20px;
  cursor: pointer;
}

#container #newTodo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  border: 0;
  color: #000;
  font-size: 1em;
  background: none;
  border: 3px solid rgba(0, 0, 0, 0);
}

#container #newTodo:focus {
  outline: none;
  border: 3px solid #00C9FF;
}

#container .todos {
  list-style: none;
  padding: 0;
  margin: 0;
}

#container .todos li {
  line-height: 40px;
  color: #666;
}

#container .todos li:nth-child(odd) {
  background-color: #fff;
}

#container .todos .completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}